header{
    width : 1350px;
    height : 332px;
    background-color: #F5225C;
}

#logo{
    height : 330px;
    width : 320px;
}

#bouton1, #bouton2, #bouton3, #bouton4{
    width : 100px;
    display: inline;
}

#bouton1{
    margin-left: 180px;
    margin-bottom: 120px;
}

#bouton2{
    margin-left: 110px;
    margin-bottom: 120px;
}


#bouton3{
    margin-left: 70px;
    margin-bottom: 120px;
}

#bouton4{
    margin-left: 110px;
    margin-bottom: 120px;
}

.accueil{
    margin-left : 490px;
    position: relative;
    bottom : 80px;
} 

.compte{
    margin-left : 65px;
    position: relative;
    bottom : 80px;
}

.vente{
    margin-left : 887px;
    position: relative;
    bottom : 120px;
}

.recherche{
    margin-left : 1058px;
    position: relative;
    bottom : 155px;
} 

.image{
    margin-top: 20px;
}

a, h2{
    font-size: 2em;
    font-family: arial;
    color : white;
    text-decoration : none;
}

a{
    text-transform: uppercase;
}

h2{
    margin-top : 2px;
}

#brands{
    background-color: #d917fa;
    width : 1350px;
    height : 724px;
}

#formulaire{
    background-color: #F5225C;
    width : 834px;
    height : 550px;
    margin-left : 250px;
}

input{
    width : 600px;
    height : 50px;
}

td{
    text-align : center;
}

table{
    border-spacing: 20px 1rem;
}

button{
    margin-left : 250px;
    margin-top: 70px;
    background-color: #16F5B2;
    width : 330px;
    height: 64px;
    font-family: arial;
}

.champ{
    font-family: arial;
}

footer{
    background-color: #F5225C;
    width : 1350px;
    height : 60px;
    text-align: center;
}

.footer{
    text-transform: capitalize;
    font-size: 1.5em;
    margin : 10px;
}

h3{
    font-family: arial;
}

select{
    width : 150px;
}

.select{
    margin-left : 90px;
    margin-top: 30px;
    display: inline-block;
}

.select2{
    margin-top : 30px;
    margin-left : 90px;
    display: inline-block;
}


